parameters:
    level: 7
    paths:
        - src

    ignoreErrors:
        - '#Parameter \#2 \$keyOrKeyArray of static method Firebase\\JWT\\JWT::decode\(\) expects array<string, Firebase\\JWT\\Key>\|Firebase\\JWT\\Key, Firebase\\JWT\\CachedKeySet given.#'
    checkMissingIterableValueType: false
